## 문제1.

* a)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [5]:
res = iris.groupby('species').agg(['mean', 'std'])
res

           sepal_length           sepal_width           petal_length  \
                   mean       std        mean       std         mean
species
setosa            5.006  0.352490       3.428  0.379064        1.462
versicolor        5.936  0.516171       2.770  0.313798        4.260
virginica         6.588  0.635880       2.974  0.322497        5.552

                     petal_width
                 std        mean       std
species
setosa      0.173664       0.246  0.105386
versicolor  0.469911       1.326  0.197753
virginica   0.551895       2.026  0.274650

* b)

In [6]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [57]:
def get_newstat(s):
   Q1 = s.quantile(.25)
   Q3 = s.quantile(.75)
   IQR = Q3 - Q1
   upper_limit = Q3 + 1.5 * IQR
   lower_limit = Q1 - 1.5 * IQR
   for i in s.index:
      if s[i] > upper_limit or lower_limit :
         s[i] == np.nan
         
   return s.mean(),s.std()

In [ ]:
# spc = ['setosa', 'versicolor','virginica']
iris[iris.species == "setosa"]['sepal_width']
# setosa = setosa.drop(['species'],axis=1)
# setosa

In [60]:
get_newstat(setosa['sepal_width'])

(3.428000000000001, 0.3790643690962886)

In [ ]:
get_newstat(setosa)

In [49]:
iris.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [50]:
iris.columns[:-1]

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], dtype='object')

In [62]:
for species in iris.species.unique():
    for column in iris.columns[:-1]:
        mean , std = get_newstat(iris[iris.species == species][column])
        print(mean, std)

5.005999999999999 0.3524896872134512
3.428000000000001 0.3790643690962886
1.4620000000000002 0.1736639964801841
0.2459999999999999 0.10538558938004569
5.936 0.5161711470638635
2.7700000000000005 0.3137983233784114
4.26 0.46991097723995806
1.3259999999999998 0.197752680004544
6.587999999999998 0.635879593274432
2.9739999999999998 0.3224966381726376
5.552 0.5518946956639835
2.026 0.27465005563666733

### 2)

* a)

In [63]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [83]:
titanic["adult/child"] = titanic.apply(lambda age: age if age.age >= 20 else
                        "child", axis=1)
titanic["adult/child"]

0          0
1          1
2          1
3          1
4          0
       ...
886        0
887    child
888    child
889        1
890        0
Name: adult/child, Length: 891, dtype: object

In [86]:
category1 = titanic[["age", "sex"]]
category1 = category1.apply(lambda sex: "sex" if "age" >= 20 else "child")
category1

TypeError: '>=' not supported between instances of 'str' and 'int'